doctype
html
  head
    meta("charset=utf-8")
    link(rel="stylesheet" href="css/index.css")
    title to64
  body
    div.content
      h2 Base64 文件转换(拖拽版)
      h4 获取拖拽文件到这里开始转
      div(id='dropper')
      div(id='results')   
    span.switch#toPaste(data-text="粘贴版") 
    script(src="js/index.js")